.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.header {
  margin-top: 16px;
  margin-bottom: 20px;
}

.production_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  gap: 20px;
}

.nc_programs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  width: 100%;
}

.nc_programs_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 290px)); /* Stała szerokość zamiast 1fr */
  justify-content: center; /* Wyśrodkowanie w poziomie */
  gap: 20px;
  padding: 20px;
  min-height: 190px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  overflow: auto;
}

.placeholder {
  font-size: 14px;
  color: #ccc;
  width: 100%;
  text-align: center;
  grid-column: 1 / -1; /* Placeholder zajmuje całą szerokość siatki */
}

.nc_programs_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 290px;
  height: 190px;
  border-radius: 10px;
  background-color: #fff;
  transition:
    transform 0.1s ease-out,
    opacity 0.2s ease; /* Ograniczamy animację */
}

.nc_programs_item:hover {
  cursor: grab;
}

.nc_programs_item.dragging {
  z-index: 1000;
  opacity: 0.8;
  cursor: grabbing;
}

.nc_programs_item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  width: 100%;
  gap: 8px;
}

.nc_programs_item_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.nc_program_text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-size: 14px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.backgroundMill {
  background-color: rgba(25, 118, 210, 0.08);
}

.backgroundTurn {
  background-color: rgba(255, 153, 1, 0.08);
}

.production_queue_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}

.machines_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  gap: 30px;
  height: auto;
}

.machine_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  gap: 10px;
  flex-grow: 1;
}

.machine_card img {
  width: auto;
  height: 125px;
  object-fit: contain;
}

.machine_programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 340px;
  min-height: 240px;
  overflow: auto;
}

@media (max-width: 768px) {
  .nc_programs_item {
    width: 100%;
    max-width: 290px;
  }

  .machine_card {
    width: 100%;
    max-width: 340px;
  }
}
